# Rust
/target/
Cargo.lock

# IDE
.idea/
.vscode/
.VSCodeCounter
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
settings/dev.toml
settings/test.toml
logs/
.env
static/key/*.pem

# Database
zm_schema.sql
*.sql
.grepai/
